* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, Helvetica, Arial;
  font-size: 14px;
}

body {
  background-color: #f1f1f1;
}

.layout {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: auto;
  /* min-height: 100vh; */
}

/* Header */

.header {
  display: flex;
  padding: 10px 0 10px 0;
  align-items: center;
  background-color: #00ad26;
}

.header_left {
  width: 18%;
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
}

.header_middle {
  width: 60%;
  display: flex;
}

.dropdown_product_category {
  width: 20%;
}

.dropdown_product_category select {
  width: 100%;
  padding: 10px 0px 10px 0;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
}

.searchbar_product {
  width: 75%;
}

.searchbar_product input {
  width: 100%;
  padding: 10px;
}

.button_search {
  width: 5%;
  display: flex;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
}

.button_search img {
  width: 36px;
  border-radius: 0px 5px 5px 0px;
  padding-top: 1.5px;
}

.header_right {
  width: 22%;
  display: flex;
  align-items: center;
}
.header_right_addtocart {
  width: 50%;
  text-align: center;
  /* outline-style: dashed; */
}
.header_right_useritem {
  width: 50%;
  /* outline-style: dashed; */
}

.header_right_addtocart img {
  width: 30px;
  height: 30px;
}

/* NavBar */

.navbar {
  width: 100%;
  display: flex;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.navbar_left {
  flex-basis: 18%;
  text-align: center;
}

.navbar_right {
  flex-basis: 79%;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
}

.navbar a.active {
  background-color: #00ad26;
  color: white;
  border-radius: 2px;
  padding: 3px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  border-radius: 2px;
  padding: 3px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.useritem .dropdown-content {
  right: 0;
}

.useritem .dropbtn {
  background-color: #00ad26;
}

.dropdown-content a {
  color: black;
  font-size: 0.858rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropbtn:hover {
  color: #00ad26;
}
.dropdown-content a:hover {
  color: #00ad26;
  font-weight: bolder;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Homepage */

.home_main_content {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
}

.home_main_content > * {
  margin-bottom: 10px;
}

.home_main_content_top {
  display: flex;
  align-items: stretch;
}

.home_main_content_top > * {
  background-color: #ffffff;
  border-radius: 10px;
}

.home_main_content_top_left {
  width: 16%;
  margin-right: 10px;
}

.home_main_content_top_center {
  width: 54%;
  margin-right: 10px;
}

.home_main_content_top_right {
  width: 30%;
}

.home_main_content_middle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 5px;
}

.title_product {
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}

/* Product Category */

.category_main_content {
  width: 84%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.category_main_content > * {
  margin-bottom: 10px;
}

.category_sortbar {
  display: flex;
  justify-content: space-between;
  background-color: #e7e7e7;
  padding: 5px;
}

.category_sortbar_option {
  width: 80%;
  display: flex;
}
.category_sortbar_option > * {
  padding: 5px;
  margin-right: 15px;
  background-color: #ffffff;
  border-radius: 2px;
}

.category_sortbar_option select {
  border: none;
  border-radius: 4px;
}
.category_sortbar_option label {
  margin-right: 5px;
}

.pagination_top {
  width: 20%;
  padding: 5px;
}
.category_sortbar_pagination {
  font-size: 0.858rem;
  background-color: #ffffff;
}

.category_main_productitem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 10px;
}

/* Product Detail Page */

.productdetail_main_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* outline-style: dashed; */
}

.productdetail_main_content > * {
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.productdetail_main_content_top {
  width: 100%;
  display: flex;
  /* outline: #00ad26 solid; */
}

.productitem_image {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  /* outline-style: dashed; */
}
.productitem_image_main {
  width: 100%;
  height: 80%;
  /* outline-style: dotted; */
}

.productitem_image_main > img {
  width: 100%;
  height: 100%;
}

.productitem_image_overview {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  /* outline-style: dotted; */
}
.productitem_image_overview > div {
  width: 20%;
  height: 100%;
  padding: 5px;

  /* outline-style: dotted; */
}

.productitem_image_overview img {
  width: 100%;
  height: 100%;
}

.productitem_title {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  line-height: 2em;
  /* outline-style: dashed; */
}

.productitem_title > * {
  height: 20%;
  margin: 0px 0 20px 0;
  /* outline-style: dashed; */
}
.productitem_productname {
  font-size: 1.142rem;
}

.productitem_price_alreadySold {
  display: flex;
  border-radius: 5px;
  background-color: #f8f8f8;
}
.productitem_price_alreadySold > * {
  padding: 20px 0 20px 0;
  margin-right: 50px;
}

.productitem_price_alreadySold .item1 {
  font-size: 1.285rem;
}
.productitem_numberofpieces {
  display: flex;
}

.productitem_numberofpieces > * {
  margin-right: 20px;
}

.productitem_numberofpieces .item2 > * {
  margin: 0 5px 0 5px;
}

.productitem_numberofpieces button {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.productitem_addtocart {
  display: flex;
  justify-content: space-around;
  /* outline-style: dashed; */
}

.productitem_addtocart button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.14rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.addtocart_item1 button {
  background-color: #00ad26;
  color: #ffffff;
}

.addtocart_item2 button {
  background-color: #b1ffc2;
  color: #000000;
  border: 1px solid #4caf50;
}

.productdetail_detail {
  width: 100%;
  padding: 15px;
  /* outline: red solid; */
}

.productdetail_detail div {
  margin-bottom: 10px;
}

.productdetail_detail p {
  line-height: 1.5em;
}

.productdetail_rating {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  /* outline: yellow solid; */
}

.productdetail_rating > * {
  margin-bottom: 10px;
}

.rating_main {
  width: 100%;
  height: 110px;
  display: flex;
  background-color: #c8efc9;
}

.rating_left {
  width: 20%;
  height: 100%;
}

.rating_right {
  width: 80%;
  height: 100%;
}

.productdetail_review {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  /* outline: blue solid; */
}

.productdetail_review > * {
  margin-bottom: 10px;
}

.review_main {
  width: 100%;
  display: flex;
  /* outline-style: dashed; */
}

.review_main > * {
  padding: 10px;
  margin-bottom: 10px;
}
.review_left {
  width: 15%;

  /* outline-style: dashed; */
}

.useritem {
  width: 100%;
  display: flex;
}
.useritem_image {
  width: 100%;
  margin-right: 5px;
}
.useritem_username {
  width: 100%;
}

.useritem_image img {
  border-radius: 50%;
}
.useritem_username > * {
  text-align: left;
}

.review_right {
  width: 85%;
  /* outline-style: dashed; */
}

.review_right > * {
  margin-bottom: 15px;
}

.review_image_main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* outline-style: dashed; */
}

.review_image_main > * {
  margin-right: 10px;
}

/* Cart Page */

.product_cart_main_content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product_cart_main_content > * {
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 1px;
  background-color: #ffffff;
}

.product_cart_listbar_top {
  width: 100%;
  display: flex;
  background-color: #c8efc9;
}

.product_cart_listbar_top > * {
  text-align: center;
}

.product_cart_listbar_top .item1 {
  width: 5%;
}
.product_cart_listbar_top .item2 {
  width: 45%;
}
.product_cart_listbar_top .item3 {
  width: 15%;
}
.product_cart_listbar_top .item4 {
  width: 15%;
}
.product_cart_listbar_top .item5 {
  width: 15%;
}
.product_cart_listbar_top .item6 {
  width: 10%;
}

.product_cart_listitem {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.product_cart_listitem .item1 {
  width: 5%;
}
.product_cart_listitem .item2 {
  width: 12%;
}
.product_cart_listitem .item2 img {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.product_cart_listitem .item3 {
  width: 75%;
  display: flex;
}
.product_cart_listitem .item3 .item3_1 {
  width: 40%;
  text-align: left;
}
.product_cart_listitem .item3 .item3_2 {
  width: 18%;
}
.product_cart_listitem .item3 .item3_3 {
  width: 22%;
  justify-content: center;
}
.product_cart_listitem .item3 .item3_4 {
  width: 20%;
}

/* .product_cart_listitem .item3 > * {
  outline-style: dashed;
} */

.product_cart_listitem .item3 .item3_3 > * {
  margin: 0 3px 0 3px;
}
.product_cart_listitem button {
  color: black;
  padding: 5px 7px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}
.product_cart_listitem .item4 {
  width: 10%;
}

.product_cart_listitem .item4 > * {
  text-align: center;
}

.product_cart_listitem .item4 button {
  font-size: 14px;
  color: #ffffff;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.product_cart_listitem .item4 {
  width: 8%;
}

.product_cart_listbar_buttom {
  width: 100%;
  display: flex;
  align-items: center;
}
.product_cart_listbar_buttom > * {
  /* outline-style: dashed; */
}
.product_cart_listbar_buttom .item1 {
  width: 5%;
  text-align: center;
}
.product_cart_listbar_buttom .item2 {
  width: 30%;
}
.product_cart_listbar_buttom .item3_1 {
  width: 5%;
  text-align: center;
}
.product_cart_listbar_buttom .item3_2 {
  width: 10%;
  text-align: center;
}
.product_cart_listbar_buttom .item3_3 {
  width: 7%;
  text-align: left;
}
.product_cart_listbar_buttom .item4 {
  width: 15%;
  text-align: right;
}
.product_cart_listbar_buttom .item5 {
  width: 18%;
  font-size: 1.142rem;
  text-align: center;
  color: red;
}
.product_cart_listbar_buttom .item6 {
  width: 10%;
  text-align: center;
}
.product_cart_listbar_buttom .item6 button {
  width: 100%;
  border: none;
  padding: 10px 0px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #4caf50;
  color: #ffffff;
}

/***** Order Total Page *****/

.ordertotal_main_content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ordertotal_main_content > * {
  padding: 5px;
  border-radius: 1px;
}

.product_sell_list {
  width: 100%;
  background-color: #ffffff;
  border-radius: 2px;
  margin-bottom: 15px;
}

.product_sell_listbar_top {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #c8efc9;
  border-radius: 2px;
}

.product_sell_listbar_top > * {
  text-align: center;
}
.product_sell_listbar_top .item0 {
  width: 5%;
}
.product_sell_listbar_top .item1 {
  width: 40%;
  text-align: left;
}
.product_sell_listbar_top .item2 {
  width: 20%;
}
.product_sell_listbar_top .item3 {
  width: 15%;
}
.product_sell_listbar_top .item4 {
  width: 20%;
}

.product_ordertotal_item {
  width: 100%;
  display: flex;
}
.product_ordertotal_item > * {
  text-align: center;
}

.product_ordertotal_item .item1 {
  width: 45%;
  display: flex;
  padding-left: 15px;
}

.product_ordertotal_item .item1 .item1_1 {
  width: 20%;
}
.product_ordertotal_item .item1 .item1_2 {
  width: 80%;
  text-align: left;
}

.product_ordertotal_item .item2 {
  width: 20%;
}
.product_ordertotal_item .item3 {
  width: 15%;
}
.product_ordertotal_item .item4 {
  width: 20%;
}

.product_sell_listbar_buttom {
  width: 100%;
  display: flex;
  padding: 5px;
  border-radius: 2px;
}

.product_sell_listbar_buttom > * {
  text-align: center;
}

.product_sell_listbar_buttom .item1 {
  width: 60%;
}
.product_sell_listbar_buttom .item2 {
  width: 20%;
  padding: 5px;
}
.product_sell_listbar_buttom .item3 {
  width: 20%;
  background-color: #c8efc9;
  padding: 5px;
}

.product_delivery {
  width: 100%;
  display: flex;
  background-color: #ffffff;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 10px;
}

.delivery_method {
  width: 15%;
  text-align: center;
}
.delivery_option {
  width: 50%;
}
/* .delivery_method_change {
  width: 20%;
  display: flex;
} */
.product_delivery_label {
  width: 20%;
  text-align: center;
  padding: 5px;
}

.product_delivery_price {
  width: 15%;
  text-align: center;
  padding: 5px;
  background-color: #c8efc9;
}

.payment_method {
  width: 100%;
  display: flex;
  background-color: #ffffff;
  border-radius: 2px;
  margin-bottom: 15px;
  padding: 10px;
}

.price_All {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.price_All .item1 {
  width: 70%;
}
.price_All .item2 {
  width: 15%;
  text-align: center;
}
.price_All .item3 {
  width: 15%;
  text-align: center;
  padding: 5px;
  background-color: orange;
}

.ordertotal_button {
  width: 100%;
  display: flex;
}

.ordertotal_button .item1 {
  width: 85%;
}

.ordertotal_button > button {
  width: 15%;
  border: none;
  padding: 10px 0px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #4caf50;
  color: #ffffff;
}

/***** Register *****/

.register_title {
  width: 63%;
  margin: 20px auto 0 auto;
}

.register_main_content {
  width: 63%;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 4px;
}

.register_main_content_top {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  /* outline-style: dashed; */
  padding: 10px;
}

.register_inner_content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  /* outline-style: dashed; */
}

.register_inner_content > * {
  flex-basis: 46%;
  margin-right: 20px;
}

.register_inner_content input[type='text'],
.login_inner_content_left input[type='text'] {
  width: 100%;
  padding: 5px;
  margin: 8px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register_main_content_buttom {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 30px 0 50px 0;
}

.register_main_content_buttom input[type='submit'],
.login_main_content_bottom input[type='submit'] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register_inner_content .item4 {
  margin-bottom: 10px;
  /* outline-style: dashed; */
}
.register_inner_content .item4 .item4_1 {
  font-size: 0.858rem;
  text-align: right;
  /* outline-style: dashed; */
}

/***** Login Page *****/

.login_main_content_top {
  width: 100%;
  display: flex;
  margin-top: 15px;
  padding: 10px;
}

.login_main_content_top > * {
  flex-basis: 50%;
}

.login_inner_content_left {
  display: flex;
  flex-direction: column;
}

.login_inner_content_left > * {
  flex-basis: 100%;
}

.login_inner_content_left .item3 {
  text-align: right;
}
.login_inner_content_right {
  padding-top: 70px;
  text-align: center;
}

.login_main_content_bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0 50px 0;
}

.login_main_content_bottom > * {
  margin: 0 40px;
}

/***** Customer Pages *****/

.customer_main_content_left {
  width: 18%;
  padding: 10px;
  margin-right: 10px;
}
.customer_main_content_left_top {
  width: 100%;
  display: flex;
}
.user_pic {
  width: 30%;
}

.user_pic img {
  border-radius: 50%;
}

.customer_main_content_left_top_left link {
  text-decoration: none;
}

.customer_main_content_left_top_right button {
  border: none;
  background-color: #ffffff;
  font-size: 0.853rem;
}

.customer_main_content_left_top_right input[type='file'] {
  display: none;
}

.customer_main_content_left_buttom {
  width: 100%;
  padding: 10px;
}

.customer_main_content_right {
  width: 82%;
  padding: 10px;
  border-radius: 4px;
}

.customer_main_content_right_top {
  width: 96%;
  display: flex;
  justify-content: space-between;
}

.customer_main_content_right_middle {
  width: 70%;
  padding: 10px;
  margin: 40px 0 40px 0;
  border: 1px dotted;
}

/* .customer_main_content_right_middle_left input[type='text'] {
  width: 95%;
  padding: 5px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

.customer_inner_content {
  width: 100%;
  display: flex;
  align-items: center;
}
.customer_inner_content .item1 {
  width: 25%;
  text-align: right;
  margin-right: 5px;
}

.customer_inner_content .item2 {
  width: 55%;
}

.customer_inner_content .item3 {
  width: 70%;
  display: flex;
}
.customer_inner_content .item3 .item3_1 {
  width: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.customer_inner_content .item3 .item3_2 {
  width: 70px;
  display: flex;
  flex-direction: column;
}

.customer_inner_content .item4 {
  width: 17%;
  text-align: center;
}

.customer_main_content_right_middle_left input[type='date'] {
  width: 50%;
  padding: 5px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.customer_inner_content_submit {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.customer_inner_content .item4 button {
  border: none;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 2px;
  background-color: #4caf50;
  color: #ffffff;
  margin-right: 5px;
}
.customer_inner_content_submit input[type='submit'] {
  width: max-content;
  background-color: #4caf50;
  color: white;
  padding: 10px 15px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/***** Change Password *****/

.customer_inner_content .item2 input[type='text'] {
  width: 95%;
  padding: 5px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/***** Address Book *****/

.addressbook_main_content_right {
  width: 82%;
  padding: 10px;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.addressbook_main_content_right_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding-right: 1.5em;
  /* outline-style: dashed; */
}

.addressbook_main_content_right_middle {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/***** Address Delivery *****/

.address_delivery {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
  border-style: groove;
}

.address_delivery > * {
  padding: 5px;
  margin-right: 10px;
}

.address_delivery_top {
  display: flex;
}
.username_delivery,
.address_detial {
  width: 50%;
}

.address_delivery_bottom {
  display: flex;
}

.address_delivery_bottom_left {
  width: 80%;
  display: flex;
}
.address_delivery_bottom_left .province {
  width: 62%;
}
.address_delivery_bottom_right {
  width: 20%;
}

.address_delivery_middle {
  display: flex;
}
.address_delivery_bottom {
  display: flex;
}

.address_delivery_change {
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
}
.address_delivery_change button {
  border: none;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 2px;
  background-color: #4caf50;
  color: #ffffff;
  margin-right: 5px;
  /* outline-style: dashed; */
}

/***** Modal Add Delivery *****/

.add_delivery {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2px;
  margin: auto;
  /* outline-style: dashed; */
}

.add_delivery input[type='text'] {
  padding: 5px;
  margin: 10px 10px 10px 0;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.add_delivery h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.add_delivery button {
  width: max-content;
  border: none;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 2px;
  background-color: #4caf50;
  color: #ffffff;
  /* margin-right: 5px; */
}

.add_delivery > * {
  width: 90%;
  display: flex;
  margin: auto;
  /* outline-style: dashed; */
}

.add_delivery .item1 > * {
  width: 50%;
}
.add_delivery .item2 > * {
  width: 48%;
}
.add_delivery .item3 > * {
  width: 98%;
}
.add_delivery .item4 {
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 15px;
}
/***** Payment Method *****/

.payment_method_main {
  width: 100%;
  display: flex;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}

.payment_method_left {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.payment_method_right {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.payment_method_left > * {
  margin-bottom: 8px;
}
.payment_method_right > * {
  margin-bottom: 8px;
}

/***** Order History Pages ****/

.orderhistory_main_content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.orderhistory_filter_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #ffffff;
}
.orderhistory_filter_bar .item1 {
  width: 30%;
  text-align: center;
}
.orderhistory_filter_bar .item2 {
  width: 35%;
  text-align: center;
}
.orderhistory_filter_bar .item3 {
  width: 35%;
  text-align: center;
}

.orderhistory_filter_bar input[type='text'] {
  width: 70%;
  padding: 3px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.orderhistory_filter_bar select {
  width: 65%;
  padding: 3px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.orderhistory_list_bar_top {
  width: 100%;
  display: flex;
  margin-bottom: 2px;
  padding: 5px;
  border-radius: 2px;
}

.orderhistory_list_bar_bottom {
  width: 100%;
  display: flex;
  margin-bottom: 2px;
  padding: 5px;
  border-radius: 2px;
}

.orderhistory_list_bar_top > * {
  text-align: center;
}

.orderhistory_list_bar_top {
  width: 100%;
  display: flex;
  background-color: #c8efc9;
}

.orderhistory_list_bar_top .item1 {
  width: 13%;
}
.orderhistory_list_bar_top .item2 {
  width: 13%;
}
.orderhistory_list_bar_top .item3 {
  width: 15%;
}
.orderhistory_list_bar_top .item4 {
  width: 20%;
}
.orderhistory_list_bar_top .item5 {
  width: 15%;
}
.orderhistory_list_bar_top .item6 {
  width: 9%;
}
.orderhistory_list_bar_top .item7 {
  width: 15%;
}

.orderhistory_list_bar_bottom .item1 {
  width: 61%;
}
.orderhistory_list_bar_bottom .item2 {
  width: 15%;
  text-align: right;
}
.orderhistory_list_bar_bottom .item3 {
  width: 24%;
  text-align: center;
  background-color: #c8efc9;
}

/***** Order History Item *****/

.orderhistoryitem_main {
  background-color: #ffffff;
  margin-bottom: 10px;
}

.orderhistoryitem_main_top {
  width: 100%;
  display: flex;
  margin-bottom: 2px;
  padding: 5px;
  border-radius: 2px;
}
.orderhistoryitem_left {
  width: 40%;
  display: flex;
  text-align: center;
}

.orderhistoryitem_left .item1 {
  width: 35%;
}
.orderhistoryitem_left .item2 {
  width: 30%;
}
.orderhistoryitem_left .item3 {
  width: 35%;
}

.orderhistoryitem_right {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.orderhistoryitem_right_inner {
  width: 100%;
  display: flex;
  text-align: center;
}

.orderhistoryitem_right_inner .item1 {
  width: 35%;
  text-align: left;
}
.orderhistoryitem_right_inner .item2 {
  width: 25%;
}
.orderhistoryitem_right_inner .item3 {
  width: 15%;
}
.orderhistoryitem_right_inner .item4 {
  width: 25%;
}
/*********************************/

/***** Component *****/

/***** Product Category List *****/

.category_list {
  margin: 10px 0px 10px 0px;
}

.category_list ul li {
  list-style-type: none;
  margin: 0;
  padding-left: 10%;
  line-height: 1.7em;
}

.category_list ul li a {
  text-decoration: none;
}

.category_list ul li a.active {
  background-color: #04aa6d;
  color: white;
  border-radius: 2px;
  padding: 3px;
}

/***** Customer Detail List *****/

.customer_list {
  margin: 10px 0px 10px 0px;
}

.customer_list ul {
  margin-bottom: 10px;
  padding-left: 20%;
}

.customer_list ul li a {
  text-decoration: none;
}

.customer_list ul li a.active {
  background-color: #04aa6d;
  color: white;
  border-radius: 2px;
  padding: 3px;
}

/***** product Item *****/

.productitem_card {
  width: 13.6rem;
  height: 23rem;
  margin-bottom: 15px;
  background-color: #ffffff;
}
.productitem_card_image {
  width: 100;
}

.productitem_card_image img {
  width: 100%;
  border-radius: 3px 3px 0px 0px;
}

.productitem_card_detail {
  height: 33%;
  display: flex;
  flex-direction: column;
}

.productitem_card_detail_top {
  height: 70%;
  padding: 0 3px 0 3px;
}

.productitem_card_detail_buttom {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3px 0 3px;
}

.productname {
  font-size: 0.858rem;
}

.productprice {
  font-size: 1.14286rem;
}

.productalreadysold {
  font-size: 0.858rem;
}

/* Pagination */

.category_sortbar_pagination {
  display: inline-block;
}

.category_sortbar_pagination a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.category_sortbar_pagination a.active {
  background-color: #4caf50;
  color: #ffffff;
  border: 1px solid #4caf50;
}

.category_sortbar_pagination a:hover:not(.active) {
  background-color: #ffffff;
}

.pagination_buttom,
.pagination_top {
  text-align: right;
}

/* Footer */

.footer {
  width: 100%;
  height: 200px;
  margin-top: 70px;
  border-top: 4px solid #00ad26;
  padding: 10px;
}

/***** Responsive *****/

@media (max-width: 1199px) {
  /* Rules for laptops, small desktop screens, and smaller viewports */
}

@media (max-width: 991px) {
  /* Rules for tablets and smaller viewports */

  .useritem_username {
    visibility: hidden;
    position: absolute;
  }

  .home_main_content_top_left {
    visibility: hidden;
    position: absolute;
  }
  .category_main_content {
    width: 100%;
  }

  .register_main_content {
    width: 90%;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 4px;
  }
}

@media (max-width: 767px) {
  /* Rules for smartphones only */

  .header {
    justify-content: space-around;
  }

  .header_left {
    visibility: hidden;
    position: absolute;
  }

  .header_middle {
    width: 72%;
  }
  .dropdown_product_category {
    width: 20%;
  }
  .searchbar_product {
    width: 65%;
  }
  .button_search {
    width: 15%;
  }

  .header_right {
    width: 23%;
  }

  .useritem_username {
    visibility: hidden;
    position: absolute;
  }
  .navbar_left {
    width: 18%;
  }
  .navbar_right {
    width: 82%;
    display: flex;
    align-items: center;
  }
  .navbar {
    padding: 5px;
  }

  .navbar_left .item,
  .navbar_right .item,
  .navbar button {
    font-size: 0.858rem;
  }

  .home_main_content_top_left {
    visibility: hidden;
    position: absolute;
  }

  .register_main_content {
    width: 90%;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 4px;
  }

  .register_inner_content > * {
    flex-basis: 90%;
    margin-right: 20px;
  }

  .login_main_content_top {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .login_inner_content_right {
    padding-top: 40px;
  }

  /*** Customer detail Page ***/

  .customer_main_content_left {
    visibility: hidden;
    position: absolute;
  }

  .customer_main_content_right {
    width: 100%;
  }
  .customer_main_content_right_middle {
    width: 100%;
  }

  /** Address Book **/

  .addressbook_main_content_right {
    width: 100%;
  }
  .address_delivery_top,
  .address_delivery_middle,
  .address_delivery_bottom {
    flex-direction: column;
  }

  .address_delivery > * {
    padding-bottom: 0px;
  }

  .address_delivery_bottom_left {
    flex-direction: column;
  }
  .address_delivery_bottom_left > * {
    width: 100%;
  }

  .address_delivery_bottom_right {
    width: 100%;
    padding-top: 5px;
  }

  .address_delivery_bottom_right > * {
    text-align: center;
  }

  /** Add to Cart Page **/

  .product_cart_listbar_top {
    visibility: hidden;
    position: absolute;
  }
  .product_cart_listitem .item1 {
    width: 5%;
  }
  .product_cart_listitem .item2 {
    width: 25%;
  }
  .product_cart_listitem .item3 {
    width: 58%;
    flex-direction: column;
  }
  .product_cart_listitem .item4 {
    width: 12%;
  }

  .product_cart_listitem .item3 .item3_1 {
    width: 100%;
    text-align: left;
  }
  .product_cart_listitem .item3 .item3_2,
  .product_cart_listitem .item3 .item3_3,
  .product_cart_listitem .item3 .item3_4 {
    width: 100%;
    text-align: center;
    padding: 2px;
  }

  .product_cart_listitem button {
    text-align: center;
  }
  .product_cart_listitem .item3 .product_cart_listitem .item3 .item3_3 {
    display: flex;
    justify-content: center;
  }

  .product_cart_listbar_buttom {
    justify-content: space-between;
  }
  .product_cart_listbar_buttom .item2 {
    width: fit-content;
  }

  /** Order Total Page **/

  .product_ordertotal_item .item1 .item1_1 {
    width: 40%;
  }
  .product_ordertotal_item .item1 .item1_2 {
    width: 60%;
    text-align: left;
  }

  /** Order History Page **/

  .orderhistory_filter_bar {
    flex-direction: column;
  }
  .orderhistory_filter_bar .item1 {
    width: 100%;
    text-align: left;
  }
  .orderhistory_filter_bar .item2 {
    width: 100%;
    text-align: left;
  }
  .orderhistory_filter_bar .item3 {
    width: 100%;
    text-align: left;
  }

  .orderhistory_filter_bar .item1 label {
    margin-right: 13px;
  }
  .orderhistory_filter_bar .item3 label {
    margin-right: 12px;
  }
  .orderhistory_filter_bar input[type='text'] {
    width: 60%;
  }
  .orderhistory_filter_bar select {
    width: 59%;
  }
  .orderhistory_list_bar_top,
  .orderhistoryitem_main {
    font-size: 10px;
  }

  /** Product Detail **/
  .productdetail_main_content_top {
    flex-direction: column;
  }
  .productitem_image {
    width: 100%;
  }
  .productitem_title {
    width: 100%;
  }
  .review_left {
    flex-direction: column;
  }
  .review_left_image {
    width: 100%;
  }
  .review_left_username {
    width: 100%;
  }

  /** Category Page **/
  .category_sortbar {
    flex-direction: column;
  }
  .category_sortbar_option {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .category_sortbar_option > * {
    margin-right: 5px;
  }
  .pagination_top {
    width: 100%;
  }
}

@media (max-width: 390px) {
}
